@media (max-width: 500px) {
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }
}

.resp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn{
    text-align: center;
}

.img{
    height: 70%;
}

label{
    align-items: center;
}

main img{
    display: flex;
    justify-content: center;
    align-items: center
}